:root {
    --to-do-item-bg: #F0F0F0;
    --primary-color: green;
    --secondary-color: white;
    --success-color: lightgreen;
    --error-color: pink;
}

.title {
    color: var(--primary-color);
    font-weight: bold;
}

.hidden {
    display: none;
}

button {
    cursor: pointer;
    border-radius: 0.5rem;
    font-weight: bold;
    padding: 0.5rem;
    margin-right: 1rem;
}

button.primary {
    background: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    min-width: 10rem;
}

button.secondary {
    background: var(--secondary-color);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.page-container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding: 1rem;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-container .form-field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

input, textarea {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

input[type="text"]:focus {
    outline: none;
    border: 2px solid var(--primary-color);
}

td,th {
    padding-right: 4rem;
    padding-bottom: 1rem;
    text-align: left;
    border-bottom: 1px solid var(--primary-color);
}

td {
    padding-top:  1rem;
}
